Package: com.samcejko.tubie
Name: Tubie
Version: 0.2.2
Architecture: iphoneos-arm
Description: YouTube client for iOS 6 (universal): videos, shorts, live streams, channels, playlists, comments
Maintainer: samcejko
Author: samcejko
Section: Multimedia
Depends: firmware (>= 6.0)
